body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App{
	height: 100vh;
}
#introduce-body {
    height: calc(100% - 86px);
    overflow: hidden;
    display: flex;
}

#introduce-body > div {
    width: 50%;
}
.left-body{
	color: #fff;
	background-color: #AC4659;
	padding: 75px 150px;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-body{
	background-color: #DA627D;
	color: #fff;
}

#introduce-body .left-body button {
    background-color: #F38375;
    border-radius: 5px;
    padding: 15px;
    border: none;
    color: white;
    margin: 30px 0px;
    font-weight: bold;
}

#introduce-body .right-body .content{
	text-align: center;
    margin-top: 50px;
}
#introduce-body .right-body .content ul{
	text-align: left;
    width: 70%;
    margin: 0 auto;
}

.set-meta {
  background: #fff;
  box-shadow: 0px 1px 5px 0px black;
  padding: 25px 0;
  position: relative;
  .set-meta-wrapper {
    display: flex;
  }
  .set-avatar{
    width: 150px;
    height: 100px;
  }
  .set-meta-form{
    flex: auto;
    padding-right: 200px;
    input[type="text"], textarea{
      display: block;
      width: 100%;
    }
    label[for="set-title"], label[for="set-desc"]{
      display: block;
    }
    textarea {
      height: 100px;
    }
    input[type="checkbox"]{
      margin-right: 5px;
    }
  }
}

.set-detail {
  background: #f4f4f4;
  padding: 25px 0;
  .card-detail-item{
    box-shadow: 0 0 5px black;
    background: #fff;
    margin-bottom: 15px;
    .header {
      display: flex;
      padding: 10px 15px;
      border-bottom: 1px solid #ddd;
      & > div{
        width: 100px;
        text-align: right;
      }
      & > span {
        flex: auto;
      }
    }
    .body{
      padding: 15px;
      display: flex;
      .keyword{
        width: 200px;
        margin-right: 15px;
        input{
          width: 100%;
        }
      }
      .description{
        flex: auto;
        textarea{
          width: 100%;
        }
      }
      .photo{
        width: 100px;
        margin-left: 15px;
      }
    }
    &.add-card{
      padding: 15px;
      text-align: center;
    }
  }
  button.finish{
    display: block;
    width: 100%;
    padding: 15px 0;
    background-color: #f38375;
  }
}

.set-detail-learn{
  background: #fff;
  box-shadow: 0px 1px 5px 0px black;
  padding: 25px 0;
  position: relative;
  .set-detail-wrapper{
    display: flex;
    .set-detail-info{
      width: 40%;
      margin-right: 15px;
    }
    .set-detail-slide{
      flex: auto;
      display: flex;
      flex-direction: column;
      .slide-wrapp {
        width: 100%;
        flex: auto;
        margin-bottom: 10px;
        .slide-item{
          height: 100%;
          position: relative;
         overflow: hidden;
         .keyword {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 20px;
            font-weight: bold;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background: bisque;
          }
          .mota {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            z-index: 2;
            background: yellow;
            transition: all 0.5s;
          }
        }
      }
      .slide-controls {
        display: flex;
        .ctrl span:last-child {
          margin-left: 10px;
        }
        .cpleted {
          flex: auto;
          text-align: right;
        }
      }
    }
  }
}

.set-detail-more {
  background: #fff;
  padding: 25px 0;
  .item {
    display: flex;
    padding: 10px 45px 10px 15px;
    box-shadow: 0 0 5px black;
    position: relative;
    margin-bottom: 10px;
    .stt{
      width: 30px;
    }
    .name{
      width: 200px;
      margin-right: 10px;
    }
    .descptn{
      flex: auto;
      margin-right: 10px;
    }
    .thumb {
      width: 100px;
    }
    .more-dots {
      position: absolute;
      top: 0;
      right: 15px;
      height: 10px;
  }
  }
}

.btnLogin {
  position: absolute;
  right: 50px;
}
.logo {
  color: white;
}

.loginCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-focus:focus {
  box-shadow: unset;
}

.link {
  color: #17a2b8;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.link-muted {
  color: unset;
  background-color: unset;
  text-decoration: unset;
}

.link-muted:hover {
  color: unset;
  text-decoration: unset;
}

.pointer {
  cursor: pointer;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1080px;
  }
}
